.toolbar {
    background: #F2F2F2;
    height: 120px;
    padding: 16px;
    display: flex;
    flex-direction: row;
}

.toolbar div {
    margin-left: 10px;

}

.toolbar h1 {
    margin: 0
}

.toolbar h3 {
    margin-top: 8px;
}

.titles {
    flex-grow: 1;
}

.dropdown {
    flex-basis: 200px;
    align-self: flex-end
}