.container {
  width: 100%;
}

.inner-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 500px;
}

.search-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.inner-container .table,
.search {
  margin: 0 auto;
}

.table {
  flex-basis: 800px;
}

.search {
  flex-basis: 900px;
  padding: 16px;
}

.box-content {
  text-align: center;
  line-height: 1.5;
}

.box-content span {
  margin: 0 8px;
}
