.flex-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.form-grid {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 16px;
}


@media only screen and (max-width: 768px) {
    .form-grid {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.flex-row input {
    margin-top: 4px !important;
}

.label-container {
    padding: 16px;
    width: 40%;
}

.content-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
}

.label-container > label {
    font-weight: 500;
    font-size: 22px;
}
