.container {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-gap: 16px;
}

.container input {
    flex: 1;
}

.container .button-container {
    width: fit-content;
    align-self: flex-end;
}


@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        box-sizing: unset;

    }

    .container {
        flex-basis: auto;
    }
}
