.container {
    padding: 16px;
}

.form-group {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.form-group input {
    margin-top: 4px !important;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}