.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column .flex-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.label-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 4px;
}

.QR-code-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.QR-code{
    width: 250px;
    height: fit-content;
    border: 1px solid darkgray;
}

