.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-row_print {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    margin-left: 4%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column .flex-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.flex-column_print .flex-item_print {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    text-align: left;
}

.label-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 4px;
}

.QR-code-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.QR-code {
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid darkgray;
}

.logo {
    width: 120px !important;
    height: auto !important;

}


.profile {
    width: 100vw;
    height: auto;
    text-align: center;
    padding-top: 5%;
    background-color: white;

}

.print-area {
    display: none;
}

@media only screen and (max-width: 768px) {
    .flex-item {
        flex-direction: row;
    }

    .flex-row {
        flex-direction: column;
    }

    .flex-item_print {
        flex-direction: row;
    }

    .flex-row_print {
        flex-direction: column;
    }
}

@media print {
    .print-area {
        display: block;
    }
}
